@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 35px;
}
.red_highlight{
  color: red;
}
.half_width{
  width: 40%;
  margin-left: 4%;
  padding: 2%;
  float: left;
}
.half_width img{
  width: 100%;
}
section{
  height: 450px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.top_banner{
  background: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.a_button{
  background: linear-gradient(45deg, salmon, red);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}
.a_button:hover{
  background: red;
}
.dream{
  background: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.single_experience{
  box-shadow: 10px 10px 40px gray;
  height: 329px;
  border-left: 5px solid;
  border-image-slice: 1;
}
.experience_text{
  margin-left:10px;
}
#full_stack_developer{
  border-image: linear-gradient(350deg, salmon, red)
}
#baby_developer{
  border-image: linear-gradient(180deg, cadetblue, darkblue)
}
.experience{
  background: url("images/exp-bg.png") no-repeat left;
}
footer{
  text-align: center;
}